<div class="container-fluid">
	<!-- <div class="row">
Send tickets to
			<form role="form">
        <div class="col-md-3">
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email Id" required id="email" />
				</div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
  					<input type="tel" class="form-control" placeholder="Mobile No." required id="mobile" />
  				</div>
        </div>
        <div class="col-md-2">

    			<button type="button" class="btn btn-success">
    				Continue
    			</button>
    		</div>
			</form>
	</div> -->







<div class="row">
  <h2>Payment options</h2>
    <ul class="nav nav-pills nav-stacked col-md-2">
    <li><a data-toggle="pill" href="#card">Credit/Debit Card</a></li>
    <li><a data-toggle="pill" href="#netbank">Net Banking</a></li>
  </ul>

  <div class="tab-content col-md-10">

      <div id="card" class=" tab-pane fade col-xs-12 col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              Payment Details
                          </h3>
                      </div>
                      <div class="panel-body">
                          <form name="myForm" role="form">
														<div class="form-group">
	                              <label for="cardName">
	                                  Name</label>
	                              <div class="input-group">
	                                  <input name="myInput" ng-model="myInput" ng-required="myVar" type="text" class="form-control" id="cardName" placeholder="Enter name on the card"
	                                      required autofocus />
																				<b class="error" ng-if="!myForm.myInput.$valid">*</b>
	                              </div>
	                          </div>
                          <div class="form-group">
                              <label for="cardNumber">
                                  CARD NUMBER</label>
                              <div class="input-group">
                                  <input type="text" name="myInput1" ng-model="myInput1" ng-required="myVar" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                      required />
                                  <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
																	<b class="error" ng-if="!myForm.myInput1.$valid">*</b>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-7 col-md-7">
                                  <div class="form-group">
                                      <label for="expityMonth">
                                          EXPIRY DATE</label>
                                      <div class="col-xs-6 col-lg-6 pl-ziro">
                                          <input type="text" name="myInput2" ng-model="myInput2" ng-required="myVar" class="form-control" id="expityMonth" min="2" placeholder="MM" required />
																					<b class="error" ng-if="!myForm.myInput2.$valid">*</b>
                                      </div>
                                      <div class="col-xs-6 col-lg-6 pl-ziro">
                                          <input type="text" name="myInput3" ng-model="myInput3" ng-required="myVar" class="form-control" id="expityYear" min="2" max="2" placeholder="YY" required />
																					<b class="error" ng-if="!myForm.myInput3.$valid">*</b>
																				</div>
                                  </div>
                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                                  <div class="form-group">
                                      <label for="cvCode">
                                          CVV CODE</label>
                                      <p><input type="password" name="myInput4" ng-model="myInput4" ng-required="myVar" class="form-control" id="cvCode" placeholder="CVV" />
																			<span class="error" ng-if="!myForm.myInput4.$valid">*</span></p>
                                  </div>
                              </div>
                          </div>
<input type="checkbox"  ng-model="myVar" ng-init="myVar=true">By clicking on "MAKE PAYMENT" you agree to the <a href="#">terms and conditions</a>
                      </div>

                  <ul class="nav nav-pills nav-stacked">
                      <li class="btn btn-primary btn-lg btn-block" class="active"><span class="badge pull-right">{{paymentCtrl.movieDetails.grandTotal}}</span> Final Payment
                      </li>
                  </ul>
                  <br/>
                  <input type="submit" ng-click="paymentCtrl.bookSeats()" class="btn btn-success btn-lg btn-block" value="Pay">
									</form>
									</div>
              </div>


    <div id="netbank" class="tab-pane fade">

			<table>
			<form role="form">
<tr>
			<td><label class="radio-inline col-md-3">
  <input type="radio" ng-model="bankname" name="inlineRadioOptions" class="form-control" id="inlineRadio1" value="icici"><img src="assets/images/icici.jpg"/>
</label></td>
<td><label class="radio-inline col-md-3">
  <input type="radio" ng-model="bankname"  name="inlineRadioOptions" class="form-control" id="inlineRadio2" value="sbi"> <img src="assets/images/sbi.jpg"/>
</label></td>
<td><label class="radio-inline col-md-3">
  <input type="radio" ng-model="bankname" name="inlineRadioOptions" class="form-control" id="inlineRadio3" value="citi"> <img src="assets/images/citi.jpg"/>
</label></td>
</tr>
<tr>
<td><div class="form-group"><label class="radio-inline col-md-3">
<input type="radio" ng-model="bankname" class="form-control" name="inlineRadioOptions" id="inlineRadio1" value="axis"><img src="assets/images/axis.jpg"/>
</label></div></td>
<td><div class="form-group"><label class="radio-inline col-md-3">
<input type="radio" ng-model="bankname" class="form-control" name="inlineRadioOptions" id="inlineRadio1" value="hdfc"><img src="assets/images/hdfc.jpg"/>
</label></div></td>
<td><div class="form-group"><label class="radio-inline col-md-3">
<input type="radio" ng-model="bankname" class="form-control" name="inlineRadioOptions" id="inlineRadio1" value="Kotak"><img src="assets/images/Kotak.jpg"/>
</label></div></td>
</tr>
<tr><td></td></tr>
<tr><td>
	<br/><div class="form-group"><button ng-click="paymentCtrl.netbanking(bankname)" class="btn btn-danger form-control" type="submit">Make Payment</button></div></td></tr>
		</form>
</table>
    </div>
  </div>
</div>
